.product-image{
    width:50px;
    height:50px;
    
}
.total{
    align-content: center;
    text-align: center;
}
.head{
    font-family: cursive;
}
/* .emptyCart{
    font-family: cursive;
    align-content: center;
    text-align: center;
    height: 500px;
    background-image: url("https://www.google.com/search?q=empty+cart+image&sxsrf=ALeKk02l4kHQKwL-VZXQPMqd7fMuKf0-xw:1625561505850&tbm=isch&source=iu&ictx=1&fir=NoJ90Li5gxdx_M%252CasUyilcaFK4a-M%252C_&vet=1&usg=AI4_-kQh_XYavQ09MOGlyFX5ijN8UnMFlQ&sa=X&ved=2ahUKEwiKkvfAiM7xAhX0nVwKHZKQAG4Q9QF6BAgNEAE#imgrc=NoJ90Li5gxdx_M");
} */