<div class="product">
            <div class="card product-item" style="width: 18rem;"  (click)="select()">
                <img class="card-img-top" [src]="product.image" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p class="card-text"> price: {{product.price}} 💰</p>
                <form *ngIf="!isAdmin">
                    <mat-form-field>
                        <mat-label>Quantity</mat-label>
                            <input type="number" class="btn btn-primary" min="1"  matInput [(ngModel)]="quantity" name="quantity"/>
                    </mat-form-field>
                    <button mat-mini-fab (click)="addItemToCart()">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                </form>
                
            </div>
    </div>