.login{
    align-self: center;
    text-align: center;
    align-content: center;
}
.headline{
    align-self: center;
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;
}
.homePageComponent{
    margin-bottom: 150px;
}
